<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/commons::head"></head>


<body>


<header th:replace="fragments/commons::header"></header>


<main>
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Product</span></h1>
        <hr class="hr-3"/>
        <form class="mx-auto w-25 bg-blur" action="/items/add" method="POST" th:object="${itemAddBindingModel}">
            <div class="form-group">
                <div class="text-white label-holder d-flex justify-content-center">
                    <label for="name" class="h4 mb-2">Name</label>
                </div>
                <input th:field="*{name}" th:errorclass="'is-invalid bg-danger'"  type="text" class="form-control" id="name" name="name"/>
                <small class="invalid-feedback text-danger">Name error message</small>
            </div>
            <div class="form-group">
                <div class="text-white label-holder d-flex justify-content-center">
                    <label for="description" class="h4 mb-2">Description</label>
                </div>
                <input th:field="*{description}" th:errorclass="'is-invalid bg-danger'" type="text" class="form-control" id="description" name="description"/>
                <small class="invalid-feedback text-danger">Description error message</small>
            </div>
            <div class="form-group">
                <div class="text-white label-holder d-flex justify-content-center">
                    <label for="category" class="h4 mb-2">Category</label>
                </div>
                <select  th:field="*{category}" th:errorclass="is-invalid" class="form-control"  id="category" name="category" type="text">
                    <option value=""  selected>Select Category</option>
                    <option th:each="c : ${T(com.example.gira.model.entity.enums.CategoryNameEnum).values()}" th:value="${c}" th:text="${c}">Shirt</option>
                </select>
                <small class="invalid-feedback text-danger">Category error message</small>

            </div>
            <div class="form-group">
                <div class="text-white label-holder d-flex justify-content-center">
                    <label for="sex" class="h4 mb-2">Sex</label>
                </div>
                <select th:field="*{gender}" th:errorclass="is-invalid" class="form-control"  id="sex" name="sex" type="text">
                    <option value=""  selected>Select Gender</option>
                    <option th:each="sex : ${T(com.example.gira.model.entity.enums.GenderEnum).values()}" th:value="${sex}" th:text="${sex}">Male</option>
                </select>
                <small class="invalid-feedback text-danger">Gender error message</small>
            </div>
            <div class="form-group">
                <div class="text-white label-holder d-flex justify-content-center">
                    <label for="price" class="h4 mb-2">Price</label>
                </div>
                <input th:field="*{price}" th:errorclass="'is-invalid bg-danger'" type="number" class="form-control" id="price" name="price"/>
                <small class="invalid-feedback text-danger">Price error message</small>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-secondary text-white mb-3">Add Product</button>
            </div>
        </form>
    </main>
    <footer class="footer bg-dark  py-2">
            <div class="container-fluid text-center">
                <div class="footer-background h5 text-white">
                     & CopyRight Andrey's. All rights reserved.
                </div>
            </div>
        </footer>
</body>
</html>
